#Footer {
  font-family: 'Roboto', sans-serif;
  height: 6rem;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  border-top: 3px solid #507AE8;
  background: #1c2036;
}